body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3b3639;
    color: #f6fdff;
}

header {
    background-color: #0e0309;
    color: rgb(235, 227, 227);
    text-align: center;
    padding: 20px;
}
form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #b7beb2;
    border-radius: 5px;
    background-color: #e0e0e0d7;
    color: #ebdede;
    transition: border-color 0.3s;
}
form button {
    padding: 10px;
    background-color: #4CAF50;
    color: rgb(248, 241, 241);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}